/* You can add global styles to this file, and also import other style files */
input{
    border: 1px solid black;
    border-radius: 5px;
    width: 550px;
}
button{
    background: brown;
    color: white;
    border: 1px solid white;
}