.borders{
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .1);
    
}
.bold{
    font-weight: bold;
}
.btn{
    background-color: black;
    border: 1px solid black;
}
.btn:hover{
    background-color: brown;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    background: rgb(216, 194, 146);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}