/* You can add global styles to this file, and also import other style files */
input{
    border: 1px solid rgb(116, 116, 116);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.705);
    width: 250px;
    height: 30px;
}
::placeholder{
    color: black;
}

button{
    background-color: brown;
    color: white;
    border: 1px solid white;
}