header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgb(226, 186, 99);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header a:hover{
    text-decoration: underline white;
}